
header {
    position: sticky;
    top: 0;
    z-index: 10;
}
ul {
    list-style: none;
}

.container {
    padding: 0px 40px;
    background-color: #FF6A37;
    .header-top {
        display: flex;
        justify-content: space-between;
    }
    
    .header-top-l , .header-top-r{
        padding: 15px 30px 0px 30px;
        ul {
            display: flex;
            justify-content: center;
            gap: 10px;
            color: #FBFEFA;
        }
        a {
            text-decoration: none;
        }
        .item-header-top {
            color: #FBFEFA;
        }
        .vert-line {
            border-left: 1px solid #fbfefa85;
            height: 20px;
        }
        .list-follow-us {
            display: flex;
            ul {
                margin-left: 10px;
                i {
                    color: #FBFEFA;
                }
            }
        }
    }
    
}
@media only screen and (max-width: 768px){
    .container {
        padding: 0px 20px;
        background-color: #FF6A37;
    }
    .header-top-l,.header-top-r {
        display: none;
    }
}