.hide-sidebar {
    position: fixed;
    left: -300px !important;
    transition: left 1s ease-in-out;

}
.sidebar {
    display: flex;
    position: fixed;
    left: 0px;
    width: 300px;
    height: 100%;
    border: 1px solid black;
    transition: left 1s ease-in-out;

    button {
        position: absolute;
        right: 10px;
        top: 18px;
        font-size: 20px;
        border: none;
        background-color: #ffffff;
    }
}

.all-categories {
    margin: 10px;
    display: flex;
    h2 {
        position: fixed;
        margin-bottom: 20px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;

    }
    a {
        color: #000000;
    }
    .text-capitalize {
        display: flex;
        align-items: center;
        border: none;
        border-bottom: 1px solid rgb(138, 132, 132);
        height: 0;
        width: 90%;
        padding: 25px 0px;
        text-transform: capitalize;
      }
    .list-categories {
        overflow: auto;
        margin-top: 40px;
        height: 75%;
    }

}




