.slider {
    padding: 20px 0px;
    .banner-header {
        img {
            width: 100%;
            margin: auto;
        }
    }
}
.banner-header-maw-width-768px {
    display: none;
    img {
        width: 100%;
        margin: auto;
    }
}
@media only screen and (max-width: 768px){
    .banner-header {
        display: none;
    }
    .banner-header-maw-width-768px {
        display: block;
    }
}